.background{
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: #0000006e;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    width: 60rem;
    height: 25rem;
    border-radius: 2rem;
    background-color:rgb(26 26 28);
    padding: 2rem;
    display: flex;
    flex-direction: column;

}
.modal h1{
    color: whitesmoke;
}

.modal p{
    font-weight: 400;
    font-family: 'Lato', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-align: justify;
    color: whitesmoke;

}

.modal .btn{
    background-color: #0ca10c;
    padding: 0.4rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3rem;
    font-weight: 700;
    margin-left: 43%;
}