.time{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1rem 0 7rem 0;
    flex-direction: column;
    align-items: center;
}

.time h3{
    font-size: 2rem;
    border-bottom: 0.3rem Solid;
    display: inline-block;
    padding-bottom: 0.6rem;

}

.time .time-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}