.footerDiv{
    width: 100%;
    height: 10rem;
    background-color:rgb(27 29 39);
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-left, .footer-right{
    color: white;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.footer-right p{
    color: gray;
    font-weight: 200;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-left{
    border-right: 0.1rem Solid White;
}

.footer-left img{
    width: 6rem;
    animation: roll 2s infinite;
    
}

.footer-left p{
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes roll{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}