.rectangle {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgb(0 0 0 / 8%);
    border-radius: 10px;
    width: 14rem;
    height: 14rem;
    padding: 0.3rem;
}

.rectangle .colorSector {
    display: flex;
    position: relative;
    height: 5rem;
    background: #57C278;
    border-radius: 10px 10px 0px 0px;
}

.colorSector img{
    width: 6.3rem;
    height: 6.3rem;
    left: 27%;
    top: 34%;
    position: absolute;
    clip-path: circle(50%);
    border: 0.3rem Solid;
    border-radius: 50%;
}

.rectangle .content{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content h4{
    margin: 0;
    font-family: 'Segoe UI';
    font-weight: 600;
    -webkit-text-stroke-width: 0.4px;
    font-size: 1.2rem;
    /* -webkit-text-stroke-color: #383838;*/
}

.content h5{
    font-family: 'Segoe UI';
    font-weight: 500;
    margin: 0.5em;
    color: #3a3a3a;
    font-size: 1rem;
}